%h3 Mass import
= form_tag(people_path, method: 'post', multipart: true) do
  = label_tag 'Select CSV'
  = file_field_tag 'file', :accept => "text/csv"
  = hidden_field_tag :import, 'import'
  = submit_tag 'Import', class: 'button'

= will_paginate @people
%table
  %thead
    %tr
      %th KBN
      %th First Name
      %th Last Name
      %th First Generation
      %th Second Generation
      %th Third Generation
      %th Fourth Generation
      %th Fifth Generation
      %th Sixth Generation
      %th Seventh Generation
      %th Eighth Generation
      %th Ninth Generation
      %th Parent 1
      %th Parent 2
      %th Partners
      %th Children
    - @people.each do |person|
      %tr
        %td= person.kbns
        %td= person.first_name
        %td= person.last_names.first
        %td= person.first_generation.to_s
        %td= person.second_generation.to_s
        %td= person.third_generation.to_s
        %td= person.fourth_generation.to_s
        %td= person.fifth_generation.to_s
        %td= person.sixth_generation.to_s
        %td= person.seventh_generation.to_s
        %td= person.eighth_generation.to_s
        %td= person.ninth_generation.to_s
        %td
          - if person.parents.count > 0
            = person.parents.first.name
        %td
          - if person.parents.count > 1
            = person.parents.second.name
        %td
          - if person.partners.count > 0
            = person.partners.first.name
        %td
          - if person.children.count > 1
            = person.children.first.name
= will_paginate @people
