%h3 Mass import
= form_tag(relationships_path, method: 'post', multipart: true) do
  = label_tag 'Select CSV'
  = file_field_tag 'file', :accept => "text/csv"
  = hidden_field_tag :import, 'import'
  = submit_tag 'Import', class: 'button'

= will_paginate @relationships
%table
  %thead
    %tr
      %th Person
      %th Spouse
    - @relationships.each do |relationship|
      %tr
        %td
          - if relationship.partner_ids.length > 0
            = Person.find(relationship.partner_ids[0]).name
        %td
          - if relationship.partner_ids.length > 1
            = Person.find(relationship.partner_ids[1]).name
= will_paginate @relationships